@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background-image: url('/superheroes.png');
  background-repeat: repeat;
  background-size: 300px;
  background-color: #f0f0f0;
  color: var(--foreground);
  animation: bg-scroll 20s linear infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Animations */
@keyframes bounce-soft {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes bg-scroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 300px 300px;
  }
}

.animate-bounce-soft {
  animation: bounce-soft 2s infinite ease-in-out;
}